/* WARNA */
:root {
    --border-outer: #E0C188;       
    --border-header-nav: #766fdd;  
    --border-nav-main: #766fdd;    
    --border-main-footer: #CDAA7D;

    --text: #2C2C2C;
    --title: #3F2C14;
    --header-footer-bg: #FFE5B4;   
    --nav-bg: #DCE6F1;          
    --content-bg: #F8D7DA;         
    --sidebar-bg: #D9EAD3;         
}

/* STYLE BASE */
body {
    margin: 0;
    background: #ffffff;
    color: var(--text);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* LAYOUT TABEL */
.table-wrap {
    padding: 24px 0;
}

.layout {
    width: 1100px;
    margin: 25px auto;
    border: 2px solid var(--border-outer);
    border-spacing: 0;
    background: #fff;
}

.layout td {
    padding: 0;
}

/* HEADER */
.row-header td {
    border-bottom: 2px solid var(--border-header-nav);
}

.header {
    background: var(--header-footer-bg);
    padding: 33px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #3a4b5d;
    letter-spacing: 0.5px;
}

/* NAVIGASI */
.row-nav td {
    border-bottom: 2px solid var(--border-nav-main);
}

.nav {
    background: var(--nav-bg);
    padding: 20px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a4b5d;
    font-weight: 600;
}

/* KONTEN 2 KOLOM */
.main {
    display: block;
}

.inner {
    width: 100%;
    border-spacing: 0;
}

.content-cell {
    width: 72%;
    background: var(--content-bg);
    border-right: 2px solid var(--border-outer);
    vertical-align: top;
}

.sidebar-cell {
    width: 28%;
    background: var(--sidebar-bg);
    vertical-align: top;
}

/* SPACE KONTEN */
.content-cell section {
    padding: 40px 44px 36px 48px;
    min-height: 280px;
}

.sidebar-cell aside {
    padding: 28px 24px;
    min-height: 280px;
}

/* TYPOGRAPHY */
#heading1 {
    margin: 6px 0 16px 0;
    font-size: 42px;
    line-height: 1.2;
    color: var(--title);
    font-weight: 600;
}

.main p {
    max-width: 640px;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.menu-title {
    margin: 20 15 10px 5;
    font-weight: 700;
    color: #3f4a3f;
}

.sidebar-cell ul {
    margin: 10;
    padding-left: 32px;
}

/* FOOTER */
.row-footer td {
    border-top: 2px solid var(--border-main-footer);
}

.footer {
    background: var(--header-footer-bg);
    padding: 26px 28px;
    text-align: center;
    font-weight: 700;
    color: #6a5731;
    letter-spacing: 0.5px;
}